<div class="centralizar">
    <div>
        <h1 id="titulo">Cadastro de Livro</h1>
        <p id="subtitulo">Complete as informações</p>        
    </div>
   <form>
   <fieldset class="grupo">
       <div class="campo">
           <label for="titulo1">Titulo</label>
           <input type="text" name="titulo1" id="titulo1" required>
       </div>
       <div class="campo">
           <label for="idioma">Idioma</label>
           <input type="text" name="idioma" id="idioma" required>
       </div>
   </fieldset>
   <div class="campo">
       <label>Paginas</label>
       <input type="number" name="paginas" id="paginas" min="1" required>
   </div>
   <div class="campo">
    <label>Edição</label>
    <input type="number" name="edicao" id="edicao" min="1" required>
   </div>
   <div class="campo">
    <label>Preço</label>
    <input type="number" name="paginas" id="paginas" min="1" placeholder="Em R$" required>
</div>
   <div class="campo">
     <label for="">Data de publicação</label>
   <input type="date" class="dataP" name="" id="" required>
   </div>
   <div class="campo">     
       <label>Sinopse do livro</label>
       <textarea name="experiencia" id="experiencia"rows="4" style="width: 26em;" required></textarea>
   </div>

   <button class="botao" type="submit">Concluido</button>

   
   </form>
   
</div>