<div class="centralizar">
    <div>
        <h1 id="titulo">Cadastro de Autor</h1>
        <p id="subtitulo">Complete as informações</p>        
    </div>
   <form>
    <div class="campo">
        <label for="nome">Nome</label>
        <input type="text" [(ngModel)]="autor.nome" name="nome" required>
    </div>
    <div class="campo">
     <label for="nome">Telefone</label>
     <input type="text" [(ngModel)]="autor.telefone" name="telefone" required>
 </div>
 <div class="campo">
     <label for="nome">Rua</label>
     <input type="text" [(ngModel)]="autor.rua" name="rua" required>
 </div>
 <div class="campo">
     <label for="nome">Numero</label>
     <input type="text" [(ngModel)]="autor.numero" name="numero" required>
 </div>
 <div class="campo">
     <label for="nome">Bairro</label>
     <input type="text" [(ngModel)]="autor.bairro" name="bairro" required>
 </div>
 <div class="campo">
     <label for="nome">CEP</label>
     <input type="text" [(ngModel)]="autor.cep" name="cep" required>
 </div>
 <div class="campo">
     <label for="nome">Cidade</label>
     <input type="text" [(ngModel)]="autor.cidade" name="cidade" required>
 </div>
 <div class="campo">
     <label for="nome">UF</label>
     <input type="text" placeholder="EX: RJ,SP,RS" [(ngModel)]="autor.uf" name="uf" required>
 </div>
 <div class="campo">
     <label for="nome">Tipo</label>
     <input type="text" [(ngModel)]="autor.tipo" name="tipo" required>
 </div>
 <div class="campo">
     <label for="nome">Gênero</label>
     <input type="text" [(ngModel)]="autor.genero" name="genero" required>
 </div>
 <div class="campo">
     <label for="nome">Idade</label>
     <input type="number" [(ngModel)]="autor.idade" name="idade" required>
 </div>
   <div class="campo">
       <label>Nacionalidade</label>
       <input type="text" [(ngModel)]="autor.nacionalidade" name="nacionalidade" required>
   </div>
   
   <div class="campo">
   <label for="">Data da morte</label>
   <input type="text" [(ngModel)]="autor.data_morte" id="data">
   </div>

   <div class="campo">
    <label for="">Biografia</label>
    <input type="text" [(ngModel)]="autor.biografia">
    </div>

   <div class="campo">
   <button class="botao" type="submit" (click)="cadastrar()">Concluido</button>
   </div>
   

  
   </form>
   
</div>