.container{
    border-radius: 25px;
}

#titulo{
    font-family: sans-serif;
    color: white;
}
#subtitulo{
    font-family: sans-serif;
    color: white;
    margin-left: 5%;
}
fieldset{
    border: 0;
}
.centralizar{

    font-family: sans-serif;
    font-size: 1em;
    color: white;
    margin-left: 36%;
    margin-top: 2%;
   
    
       
}
input,select,textarea,button{
    border-radius: 5px;
}
.campo{
    margin-bottom: 1em;
   
}
.campo label{
    margin-bottom: 0.2em;
    color: white;
    display: block;
}
fieldset.campo .grupo{
    float: none;
    margin-right: 1em;
}
.campo input[type="text"], .campo select , .campo textarea{
 padding: 0.2em;
 border: 2px solid black;
 box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
 display: block;
 background-color: darkred;
 color: white;
}
.campo select option{
    padding-right: 1em;
}
.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: rgb(221, 46, 46);
}
.botao{
    font-size: 1.2em;
    background: #e71717de;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 115%;
    left: 50%;
    margin-right: -50%;
    margin-bottom: 100px;
    transform: translate(-50%,-50%);
}
.botao:hover{
    background: #d15d5d;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    
}
#check{
    display: inline-block;
}

#data{
    background-color: darkred;
    color: white;  
}


