<div class="fundo">
    <div class="centro">
        <h1>Login</h1>
    
    <div class="form">
   
   
        <div class="txt_field">
            <input type="text" required>
            <span></span>
            <label>Username</label>
        </div>
        <div class="txt_field">
           <input type="password" required>
           <span></span>
           <label>Senha</label>
       </div>
       <div class="pass">Esqueceu a senha?</div>
       <input type="submit" value="Login">
       <div class="singup_link">
           Não é um membro?<a href="#">Cadastrar</a>
       </div>   
   </div>
   </div>
   </div>
