<div class="centralizar">
    <div>
        <h1 id="titulo">Cadastro de Editora</h1>
        <p id="subtitulo">Complete as informações</p>        
    </div>
   <form>
       <div class="campo">
           <label for="nome">Nome</label>
           <input type="text" [(ngModel)]="editora.nome" name="nome" required>
       </div>
       <div class="campo">
        <label for="nome">Telefone</label>
        <input type="text" [(ngModel)]="editora.telefone" name="telefone" required>
    </div>
    <div class="campo">
        <label for="nome">Rua</label>
        <input type="text" [(ngModel)]="editora.rua" name="rua" required>
    </div>
    <div class="campo">
        <label for="nome">Numero</label>
        <input type="text" [(ngModel)]="editora.numero" name="numero" required>
    </div>
    <div class="campo">
        <label for="nome">Bairro</label>
        <input type="text" [(ngModel)]="editora.bairro" name="bairro" required>
    </div>
    <div class="campo">
        <label for="nome">CEP</label>
        <input type="text" [(ngModel)]="editora.cep" name="cep" required>
    </div>
    <div class="campo">
        <label for="nome">Cidade</label>
        <input type="text" [(ngModel)]="editora.cidade" name="cidade" required>
    </div>
    <div class="campo">
        <label for="nome">UF</label>
        <input type="text" placeholder="EX: RJ,SP,RS" [(ngModel)]="editora.uf" name="uf" required>
    </div>
    <div class="campo">
        <label for="nome">Tipo</label>
        <input type="text" [(ngModel)]="editora.tipo" name="tipo" required>
    </div>
    <div class="campo">
        <label for="nome">Gênero</label>
        <input type="text" [(ngModel)]="editora.genero" name="genero" required>
    </div>
    <div class="campo">
        <label for="nome">Idade</label>
        <input type="number" [(ngModel)]="editora.idade" name="idade" required>
    </div>
   <div class="campo">
       <label>cnpj</label>
       <input type="text"[(ngModel)]="editora.cnpj" required>
   </div>

   <div class="campo">
    <label>ie</label>
    <input type="text"[(ngModel)]="editora.ie" required>
</div>

<div class="campo">
    <label>Razão social</label>
    <input type="text" [(ngModel)]="editora.razao_social" required>
</div>

<div class="campo">
    <label>Avaliação</label>
    <input type="text" [(ngModel)]="editora.avaliacao" required>
</div>

    <button class="botao" type="submit" (click)="cadastrar()">Concluido</button>


   </form>
   
</div>