<div class="container">
    <div>
        <h3 class="d-flex justify-content-center">Login</h3>
        <div class="d-block m-auto w-25">
            <div class="form-row mb-3">
                <label for="" class="form-label">Username</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.username">
            </div>
            <div class="form-row mb-3">
                <label for="" class="form-label">Senha</label>
                <input type="password" class="form-control" [(ngModel)]="usuario.password">
            </div>
            <div class="form-row">
                <button class="btn btn-primary" type="button" (click)="logar()">Entrar</button>
            </div>
        </div>
        <div class="d-block" *ngIf="mensagem">
            {{ mensagem }
        </div>
    </div>
  </div>
  
